[user]
	email = ben.berry-allwood@bjss.com
	name = Ben Berry-Allwood
[init]
	defaultBranch = main
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[core]
	excludesfile = /Users/Ben.Berry-Allwood/.gitignore_global
[push]
	autoSetupRemote = true
